@inherits LayoutComponentBase

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Event Planner </h3>
                </div>
                <div class="card-body">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>

