@inherits LayoutComponentBase
@inject Services.Interfaces.IAuthService AuthService
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <a href="#" onclick="@Logout" >Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    protected async Task Logout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/");
    }
}